<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="/css/style.min.css">
</head>

<body>
  <header>
    <h1>Personal Blog</h1>
  </header>

  <main>
    <% if (articles.length> 0) { %>
      <div class="articles">
        <% for (let article of articles) {%>
          <div class="article">
            <div class="article-date">
              <p>
                <%= article.date %>
              </p>
            </div>
            <div class="article-content">
              <a href="/article/<%= article.id %>">
                <%= article.title %>
              </a>
              <p>
                <%= article.content %>
              </p>
            </div>
          </div>
          <% } %>
      </div>
      <% } else { %>

        <% } %>
  </main>

</body>

</html>