<%- include('../includes/head.ejs') %>
  <%- include('../includes/header.ejs') %>

    <main>
      <div class="container mx-auto px-5">
        <% if (articles.length> 0) { %>
          <div class="admin-articles">
            <% for (let article of articles) { %>
              <div class="article" data-id="<%= article.id %>">
                <h2>
                  <%= article.title %>
                </h2>
                <div class="article-links">
                  <a href="/edit-article/<%= article.id %>" class="cta">Edit</a>
                  <form action="/delete-article/<%= article.id %>" method="POST">
                    <button type="submit" class="cta">Delete</button>
                  </form>
                </div>
              </div>
              <% } %>
          </div>
          <% } else { %>
            <p>No Articles. <a href="/add-article">+ Add</a> article</p>
            <% } %>
      </div>
    </main>
    </body>

    </html>